<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <section>

        <%- include('partials/header.ejs') %>
        
        <div id="cont">
            <form action="/login" method="POST">
                <input type="text" name="nombre" placeholder="nombre">
                <input type="text" name="contra" placeholder="contraseña">
                <button type="submit">Logearse</button>
            </form>
            <a href="/register"><p>No tienes cuenta? Registrese</p></a>
            
        </div>
        <%- include('partials/footer.ejs')%>
    </section>
</body>
</html>
<%- include('partials/estilos.ejs')%>